<div id="<%= dom_id profile %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= profile.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= profile.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile username:</strong>
    <%= profile.profile_username %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile phone number:</strong>
    <%= profile.profile_phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile date of birth:</strong>
    <%= profile.profile_date_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile bio:</strong>
    <%= profile.profile_bio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile location:</strong>
    <%= profile.profile_location %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile website:</strong>
    <%= profile.profile_website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile gender:</strong>
    <%= profile.profile_gender %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile language:</strong>
    <%= profile.profile_language %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile views count:</strong>
    <%= profile.profile_views_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile last seen at:</strong>
    <%= profile.profile_last_seen_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile verification status:</strong>
    <%= profile.profile_verification_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile referral code:</strong>
    <%= profile.profile_referral_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile social links:</strong>
    <%= profile.profile_social_links %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile privacy settings:</strong>
    <%= profile.profile_privacy_settings %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile tags:</strong>
    <%= profile.profile_tags %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile interests:</strong>
    <%= profile.profile_interests %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Profile completion:</strong>
    <%= profile.profile_completion %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= profile.deleted_at %>
  </div>
</div>
