<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Addressable:</strong>
    <%= address.addressable_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= address.street_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line 2:</strong>
    <%= address.address_line_2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Region:</strong>
    <%= address.region %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= address.postal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= address.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= address.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Directions:</strong>
    <%= address.directions %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address type:</strong>
    <%= address.address_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Verified:</strong>
    <%= address.verified? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Metadata:</strong>
    <%= address.metadata %>
  </div>
</div>
